<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="">
      <meta name="author" content="Tilak.T">
      <link rel="shortcut icon" href="/static/img.logo.jpg">
      <title>{% block title%} {% endblock %}</title>
      <link href="/static/css/bootstrap.min.css" rel="stylesheet">
      <link href="/static/css/login.css" rel="stylesheet">
      <style type="text/css">
         .error{
         color: #F44336;
         }
      </style>
      {% block css %}
      {% endblock %}
   </head>
   <body >
      <div class="container">
         {% block content %}
         {% endblock %}
      </div>
      <script src="/static/js/jquery.js"></script>
      <script src="/static/js/bootstrap.min.js"></script>
      {% block js %}
      {% endblock %}
   </body>
</html>
<!-- End-Of-File -->