{% extends "base/login_base.html" %}
{% block title %}Forgot Password{% endblock %}
{% block content %}
<div class="row">
   <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-login">
         <div class="panel-body" style="margin-top: 10%;">
            <div class="row">
               <div class="col-lg-12" >
                  <form id="login-form" action="#" method="POST" role="form" style="display: block;">
                     <p class="text-center">We've e-mailed you instructions for setting your password to the e-mail address you submitted.</p>

                     <div class="form-group">
                    <p class="text-center">You should be receiving it shortly.</p>
                </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}
<!-- End-Of-File -->