{% extends "base.html" %}
{% block title %}Final Update Task{% endblock %}
{% block content %}
<div class="row">
   <div class="col-sm-12">
      <section class="panel panel-primary">
         <header class="panel-heading">
            Final Update Task                      
         </header>
         <div class="panel-body">
            <section id="unseen">
               <table class="table table-bordered table-hover">
                  <thead>
                     <tr>
                        <th class="col-sm-1">#</th>
                        <th class="col-sm-2">Task Name</th>
                        <th class="col-sm-3">Task Description</th>
                        <th class="col-sm-2">Assigner</th>
                        <th class="col-sm-1">Priority</th>
                        <th class="col-sm-2">Status</th>
                        <th class="col-sm-1"></th>
                     </tr>
                  </thead>
                  <tbody>
                     {%for task in obj%}
                     <tr>
                        <td class="col-sm-1">{{forloop.counter}}</td>
                        <td class="col-sm-2">{{task.name}}</td>
                        <td class="col-sm-3">{{task.desc}}</td>
                        <td class="col-sm-2">{{task.assigner}}</td>
                        <td class="col-sm-1">{{task.priority}}</td>
                        <td class="col-sm-2">{{task.work_in_status}}</td>
                        <td class="col-sm-2"><a href="/update_tasks/{{task.id}}" class="btn btn-primary" >Update Task</a></td>
                     </tr>
                     {%endfor%}                              
                  </tbody>
               </table>
            </section>
         </div>
      </section>
   </div>
</div>
{%endblock%}
<!-- End-Of-File -->