<!DOCTYPE html>
<html lang="en">
<head>
<title>EMPLOYEE MANAGEMENT  - error</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/static/css/error.css" rel='stylesheet' type='text/css'/>
</head>
<body>
<div id="particles-js"></div>
	<div class="main-w3layouts">	
		<div class="main-agile" style="margin-top: 30%;">
			<h2>Error</h2>
			<p>It's looking like you may have taken a wrong turn. Don't worry... It happens to the best of us.</p>
		</div>		
	</div>
</body>
</html>

<!-- End-Of-File -->